{% extends 'base/base.html' %}
{% block content %}
<div class="product-card " tabindex="0">
      <h2>Product 1</h2>
      <p>Description of product 1</p>
</div>
<div class="dialog-window">
      <h3>Additional Information</h3>
      <p>Additional information about product 1</p>
</div>
<div class="product-card"tabindex="0">
      <h2>Product 2</h2>
      <p>Description of product 2</p>
</div>
<div class="dialog-window">
      <h3>Additional Information</h3>
      <p>Additional information about product 2</p>
</div>
<div class="product-card" tabindex="0">
      <h2>Product 3</h2>
      <p>Description of product 3</p>
</div>
<div class="dialog-window">
      <h3>Additional Information</h3>
      <p>Additional information about product 3</p>
</div>
<div class="product-card" tabindex="0">
      <h2>Product 4</h2>
      <p>Description of product 4</p>
</div>
<div class="dialog-window">
      <h3>Additional Information</h3>
      <p>Additional information about product 4</p>
</div>
<div class="product-card" tabindex="0">
      <h2>Product 5</h2>
      <p>Description of product 5</p>
</div>
<div class="dialog-window">
      <h3>Additional Information</h3>
      <p>Additional information about product 5</p>
</div>
<div class="product-card" tabindex="0">
      <h2>Product 6</h2>
      <p>Description of product 6</p>
</div>
<div class="dialog-window">
      <h3>Additional Information</h3>
      <p>Additional information about product 6</p>
</div>
{% endblock %}