<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/css/login.css">
</head>
<body>
    <div id="login-form-wrap">
  <h2>Login</h2>
  <form id="login-form" action="{{ url_for("auth.loing") }}" method="post">
      <p><input type="email" id="email" name="email" placeholder="Email Address" required><i class="validation"><span></span><span></span></i></p>
    <p><input type="text" id="password" name="password" placeholder="Password" required><i class="validation"><span></span><span></span></i></p>
    <p><input type="submit" id="login" value="Login"></p>
  </form>
  <div id="create-account-wrap">
      <p>Not a member? <a href="/sign_up">Sing up</a></p>
       <p><a href="/">Back</a><p>
  </div>
</div>
</body>
</html>