header {
      background-color: #0C0C0C;
      padding: 20px;
      text-align: center;
    }

    nav {
      display: inline-block;
    }

    nav a {
      display: inline-block;
      margin: 0 10px;
      padding: 10px;
      text-decoration: none;
      color: #9B3922;
    }

    nav a:hover {
      background-color: #F2613F;
    }